<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.mdd.ufes/lei/LegisFacile"
			class = "ufes.mdd.lei.legisFacile.LegisFacilePackage"
			genModel = "model/generated/LegisFacile.genmodel" />
	</extension>
</plugin>
